<div class="container">
	<div class="row">
		<div class="shop-new">
			<%= form_for(@shop,:url => {:action => 'update'}) do |f| %>
			  <h3>店舗名</h3>
			    <%= f.text_field :shop_name %>
			  <h3>店舗画像</h3>
			    <%= f.attachment_field :shop_image %>
			  <h3>電話番号</h3>
			    <%= f.text_field :shop_phone_number %>
			  <h3>住所</h3>
			    <%= f.text_area :shop_address %>
			  <h3>営業時間</h3>
			    <%= f.text_area :business_hours %>
			  <h3>平均予算</h3>
			    <%= f.text_field :average_price %>
			  <h3>店の系統</h3>
			    <%= f.check_box :soysauce %>
			    <%= f.label :soysauce, "しょうゆ" %>
			    <%= f.check_box :salt %>
			    <%= f.label :salt, "塩" %>
			    <%= f.check_box :other %>
			    <%= f.label :other, "その他" %>
			  <div class="shop-item">
			    <%= f.submit "店舗編集" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>
