<% if @recipe.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with(model: @recipe, remote: true) do |f| %>

    <div class="modal-header">
      <h2 class="modal-title" id="exampleModalLabel">レシピ投稿</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group field">
        <h3>タイトル(3~30字)</h3>
        <%= f.text_field :recipe_name, placeholder:"例) 男の唐揚げ", class: "recipe-name-form" %>
      </div>
      <div class="form-group field">
        <%= f.label :出来上がり画像, class: "form-control-label" %>
        <%= f.attachment_field :recipe_image %>
      </div>
      <div class="form-group field">
        <h3>動画があるなら一緒に投稿しよう！</h3>
        <%= f.file_field :video %>
      </div>
      <div class="form-group field">
        <%= f.label :お肉部位, class: "form-control-label" %>
        <%= f.select :meat_site, [["もも肉", "もも肉"], ["むね肉", "むね肉"], ["なんこつ", "なんこつ"], ["手羽先", "手羽先"], ["せせり", "せせり"], ["とり皮", "とり皮"], ["砂肝", "砂肝"]], :prompt => "選択してください" %>
      </div>
      <div class="form-group field">
        <h3>材料(1~20字) / 分量(1~10字)</h3>
        <%= f.fields_for :materials do |material| %>
            <%= render 'material_fields', f: material %>
        <% end %>
          <div id="links">
            <%= link_to_add_association '材料追加',f, :materials, class: "btn-gradation", :style=>"color:black;" %>
          </div>
      </div>
      <div class="form-group field">
        <h3>工程順序 / 内容(5~60字)</h3>
        <%= f.fields_for :progresses do |progress| %>
            <%= render 'progress_fields', f: progress %>
        <% end %>
          <div id="links">
            <%= link_to_add_association '工程を追加する',f, :progresses, class: "btn-gradation", :style=>"color:black;" %>
          </div>
      </div>
      <div class="form-group field">
        <%= f.label :最後に一言アドバイス！, class: "form-control-label" %>
        <%= f.text_field :advice, placeholder:"例) 揚げすぎるとかたくなるよ！", class: "advice-form" %>
      </div>
    </div>
    <div class="modal-footer actions">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= f.submit class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>