
<div class="container">
	<div class="row">
		<div class="recipe-show">
			<div class="recipe-taitle-box">
				<h2 class="recipe-taitle">レシピタイトル</h2>
				<h1 class="recipe-name"><%= @recipe.recipe_name %></h1>
				<h4>投稿者</h4>
				<h3 class="recipe-user"><%= @recipe.user.name %></h3>
		    </div>
		    <div class="recipe-box clearfix">
			    <div class="recipe-image">
					<%= attachment_image_tag @recipe, :recipe_image, size: "500x500", fallback: "noimage.png" %>
			    </div>
			    <div class="recipe-item">
					<h2 class="meat-site"> 部位 :
						<%= @recipe.meat_site %>
					</h2>
					<% @recipe.materials.each do |material| %>
					    <div class="material-box">
						    <span class="material-item"> 材料  :
							    <%= material.material_name %> /
							</span>
							<span class="material-item"> 分量  :
							    <%= material.material_quantity %>
							</span>
					    </div>
					<% end %>
			    </div>
		    </div>
			<div class="progress-each clearfix">
			<% @recipe.progresses.each do |f| %>
				<div class="progress-box">
					<div class="progress-image">
						<%= attachment_image_tag f, :material_image, size: "200x200", fallback: "noimage.png" %>
					</div>
				    <h3 class="progress-item">
					    <%= f.progress_number %>
					</h3>
					<h4>
			    	    <div class="progress-text">
				    	    <%= f.progress_text %>
				        </div>
				    </h4>
				</div>
			<% end %>
			</div>
			<div class="accessories">
				<div class="advice-box">
					<h3 class="recipe-advice"> 一言アドバイス！
						<h2><%= @recipe.advice %></h2>
					</h3>
			    </div>
			    <% if user_signed_in? %>
				    <div id="favorites_buttons_<%= @recipe.id %>">
						<%= render partial: 'favorites/favorite', locals: { recipe: @recipe, favorites: @favorites} %>
					</div>
				<% end %>
			    <div class="video">
			    	<h3>調理動画</h3>
			    	<% if @recipe.video.present? %>
			    	    <%= video_tag @recipe.video_url.to_s,loop: true, controls: true, size: "600x400" %>
			    	<% else %>
			    	    <h4> 調理動画はありません</h4>
			    	<% end %>
			    </div>

				<div class="comment">
				    <h4><i class="fa fa-comment fa-fw"></i>コメント一覧</h4>
				    <% if flash[:notice] %>
				      <div class="flash">
				        <h3><%= flash[:notice] %></h3>
				      </div>
				    <% end %>
				    <div id="reviews_area">
				    	<%= render partial: 'reviews/index', locals: { reviews: @reviews } %>
				    </div>
				    <% if user_signed_in? %>
				        <%= render partial: 'reviews/form', locals: { review: @review, recipe: @recipe } %>
				    <% end %>
			    </div>
		    </div>
			<div class="show-link-item">
				<% if @recipe.user == current_user %>
					<%= link_to "レシピを編集する", edit_recipe_path(@recipe.id), class: "btn-flat-border" %>
					<%= link_to "レシピを削除する", recipe_path(@recipe.id), class: "btn-flat-delete", method: :delete, "data-confirm" => "本当に削除しますか？" %>
				<% end %>
		    </div>

			<div class="show-recipe-back">
				<%= link_to "レシピ一覧に戻る", recipes_path, class: "btn-flat-success" %>
			</div>
		</div>
	</div>
</div>
