<div class="container">
	<div class="row">
		<h2>名前 <%= @user.name %></h2>
		<h2>名前(カナ) <%= @user.name_kana %></h2>
		<h2>メールアドレス　<%= @user.email %></h2>
		<h2>住所　<%= @user.address %></h2>
		<h2>電話番号　<%= @user.phone_number %></h2>
	</div>
	<%= link_to "編集", edit_user_path(@user.id) %>
</div>