<div class="user-show-top">
	<div class="container">
		<div class="row">
			<div class="profile-box clearfix">
				<div class="image-box">
				    <%= attachment_image_tag @user, :user_image, size: '200x200', fallback: "noimage.png", class: "user-image" %>
			    </div>
			    <div class="user-box">
				    <h2>名前 <%= @user.name %></h2>
			    </div>
			    <div class="user-box">
				    <h2>名前(カナ) <%= @user.name_kana %></h2>
			    </div>
			    <div class="user-box">
				    <h2>自己紹介文 : <%= @user.introduction %></h2>
			    </div>
			    <div class="user-box">
					<% if @user.id == current_user.id %>
						<%= link_to "プロフィール編集", edit_user_path(@user.id), class: "btn-flat-success" %>
				    <% end %>
	            </div>
		    </div>
		</div>

	    <div class="row">
	    	<div class="user-recipe">
	    		<h2>投稿レシピ</h2>
	    			<% @recipes.each do |recipe| %>
	    			<table class="table table-hover">
					      <th><%= attachment_image_tag recipe, :recipe_image, size: "180x180" %></th>
					      <th><h2><%= link_to recipe.recipe_name, recipe_path(recipe.id) %></h2></th>
					      <th></th>
					      <th></th>
					      <th></th>
				    </table>
			    <% end %>
		    </div>
		    <% if @user.id == current_user.id %>
		        <%= link_to "退会手続き", user_path(@user.id), class: "btn-flat-delete", method: :delete, "data-confirm" => "本当に退会してよろしいですか？" %>
		    <% end %>
	    </div>
	</div>
</div>