<%= form_with(model: [recipe, review] ) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-10">
      <%= f.text_area :review_text, :placeholder => '質問等を気軽にコメントをしてみましょう！', class:'form-control' %>
    </div>
    <div class="actions col-md-2">
      <%= f.submit "コメント送信" %>
    </div>
  </div>
<% end %>